
.body {
    background-image: url('/bg1.jpg');
    opacity: 0.9;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    position: relative;
}

.form {
    background-image: url('/bg1.jpg');
    opacity: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    position: relative;
}

